extends layout

block content
  .w3-card-4
    header.w3-container.w3-purple
      h1 Editar Acordão

    form.w3-container(method="POST")
      fieldset
        legend Metadata
        each value, key in dados
          if key == "_id"
            pass 
          else if key == "Descritores"
            label #{key}
            each d in value
              input.w3-input(type="text" name=key value=d)
          else if key == "tribunal"
            label #{key}
            br
            input(type="text" name=key value=value readonly)
          else
            label #{key}
            input.w3-input(type="text" name=key value=value)
                

      button.w3-btn.w3-purple.w3-mb-2(type="submit") Register
