extends layout

block content
  .w3-card-4
    header.w3-container.w3-purple
      h1 Editar Acordão

    form.w3-container(method="POST")
      fieldset
        legend Metadata
        each value, key in dados
          if key == "_id"
            pass 
          else if key == "Descritores"
            label #{key}
            each d in value
              div.inputContainer
                input.w3-input(type="text" name=key value=d)
                button.removeButton -
            div(id="dataContainer")
              button(type="button" id="addButton") +
          else if key == "tribunal"
            label #{key}
            br
            input(type="text" name=key value=value readonly)
          else
            label #{key}
            input.w3-input(type="text" name=key value=value)
        #desc
                

      button.w3-btn.w3-purple.w3-mb-2(type="submit") Register

    footer.w3-container.w3-brown
        p #[a(href="/") Voltar]

    script(type="text/javascript").
      $(document).ready(function() {
        var index = 0;

        $('#addButton').click(function() {
          var inputContainer = $('<div>').addClass('inputContainer');
          var input = $('<input>').attr('type', 'text').attr('name', `Descritores-${index}`);
          var removeButton = $('<button>').attr('type', 'button').addClass('removeButton').text('-');

          $('#rem').append(removeButton);
          inputContainer.append(input, removeButton);
          $('#dataContainer').append(inputContainer);
          index++;
        });

        $(document).on('click', '.removeButton', function() {
          $(this).closest('.inputContainer').remove();
          index--;
        });

        $('form').submit(function() {
          
          var descritoresValues = [];
          for (var i = 0; i < index; i++) {
            var descritorInput = $(`input[name="Descritores-${i}"]`);
            var descritorValue = descritorInput.val();
            if (descritorValue != "")
              descritoresValues.push(descritorValue);
          }

          var descritoresInput = $('<input>').attr('type', 'hidden').attr('name', 'Descritores');
          descritoresInput.val(descritoresValues.join(','));

          /*remove blank descritores*/
          
          var descritores = $('input[name="Descritores"]');
          for (var i = 0; i < descritores.length; i++) {
            var descritor = $(descritores[i]);
            if (descritor.val() == "")
              descritor.remove();
          }
          

          $('#desc').append(descritoresInput);
        });
      });