extends layout

block content
    .w3-card-4
        header.w3-container.w3-brown
            .header-container
                if nivel == "admin"
                    h1.header-left Lista de Acordãos #[a.w3-button.w3-round-large(href="/acordaos/registo") + ]
                else
                    h1.header-left Lista de Acordãos
                h1.header-right 
                    if user
                        a.w3-button.w3-round-large(href="/logout") Logout
                        a.w3-button.w3-round-large(href="/perfil") Perfil
                    else
                        a.w3-button.w3-round-large(href="/login") Login
                        a.w3-button.w3-round-large(href="/register") Registo
        
        //Barra de pesquisa
        .barra 
            .barra-pesquisa
                input.w3-input.w3-border.barra-input(type="text" placeholder="Pesquisa" name="search" id="searchInput")
                button.w3-button.help-button(type="button" id="helpButton") ?

            button.w3-button.botao-pesquisa(type="button" id="searchButton") Pesquisar

        .corpo
            .filtros
                .w3-container.filtros-header
                    h2 Filtros
                .w3-container.filtros-corpo
                    .dropdown-check-list(id="list1" tabindex="100")
                        span.anchor Descritores
                        ul.items
                            each d in taxonomia
                                li
                                    span #{d}
                                    if descritores != [] && descritores.includes(d)
                                        input(type="checkbox" name="descritores" checked value=d)
                                    else
                                        input(type="checkbox" name="descritores" value=d)
                    
                    .dropdown-check-list(id="list2" tabindex="100")
                        span.anchor Tribunais
                        ul.items 
                            each t in tribunaisList
                                li
                                    span #{t}
                                    if tribunais != [] && tribunais.includes(t)
                                        input(type="checkbox" name="tribunais" checked value=t)
                                    else
                                        input(type="checkbox" name="tribunais" value=t)

                    //Apply button sets query descritores to selected values separated by comma and reloads page
                    .w3-container.botoes
                        button.w3-button.w3-green(type="button" id="applyFilters") Apply
                        button.w3-button.w3-grey(type="button" onclick="window.location.href='/'") Clear

            //Lista de acordãos

            .w3-container.processos
                each a in alista
                    .w3-container
                        .w3-card-4.processo
                            .header-container.w3-brown
                                h2.header-left #[a(href="/acordaos/" + a.Id)= "Processo Nº" + a.Processo]
                                if nivel == "admin"
                                    h2.header-mid #{a.Data}
                                    h2.header-right #[a.w3-button(href="/acordaos/editar/" + a.Id) Editar ]
                                else
                                    h2.header-right #{a.Data}
                            .conteudo-processo
                                p Tribunal: #{a.Tribunal}
                                if a.Descritores
                                    .w3-container
                                        b Descritores:
                                        br
                                        each d in a.Descritores
                                            b &#x2022; 
                                            span #{d}
                                            br
                                .favorito
                                    if user
                                        if a.Id in favoritos
                                            button(type="button" data=a.Id id="btn-"+a.Id).star.star-checked &#9733;
                                        else
                                            button(type="button" data=a.Id id="btn-"+a.Id).star &#9734;
                                    
                                    button(type="button" data=a.Id id="del-"+a.Id).garbage &#128465;
                    
                    .w3-modal(id='fav-'+a.Id)
                        .w3-modal-content.w3-animate-top
                            .modal
                                h2 Adicionar aos favoritos?
                                if a.Id in favoritos
                                    form
                                        input(type="textarea" name="descricao" value=favoritos[a.Id].descricao)
                                        input(type="hidden" name="id" value=a.Id)
                                        input(type="hidden" name="processo" value=a.Processo)
                                    .w3-container.botoes
                                        button.w3-button.w3-green.botao-modal(name="edit") Edit
                                        button.w3-button.w3-red.botao-modal(name="remove") Del
                                        button.w3-button.w3-grey.botao-modal(name="hide") Back
                                else
                                    form
                                        input(type="textarea" name="descricao" placeholder="Insira uma descrição(opcional)")
                                        input(type="hidden" name="id" value=a.Id)
                                        input(type="hidden" name="processo" value=a.Processo)
                                    .w3-container.botoes
                                        button.w3-button.w3-green.botao-modal(name="add") Add
                                        button.w3-button.w3-grey.botao-modal(name="hide") Back

        // Paginação
        .w3-container.paginacao.w3-brown
            if page > 1
                button(id="prevpage" data=page) Anterior
            if page < maxPage
                button(id="nextpage" data=page) Seguinte

        .w3-modal(id="helpModal")
            .w3-modal-content.w3-animate-zoom
                .modal
                    h2 Ajuda sobre a pesquisa
                    .modal-texto
                        p A pesquisa pode ser feita por Processo, Tribunal, Descritores ou Data.
                        h3 Exemplos:
                            h4 Processo
                            p p=00025/04
                            h4 Tribunal
                            p t=jcon
                            h4 Descritores
                            p d=acidente
                            h4 Data
                            p d=2004/01/01
                    .w3-container.botoes
                        button.w3-button.w3-grey.botao-modal(name="hide") Back

        //Script para reter os descritores selecionados e passar para a query string
        script.
            var checkList = document.getElementById('list1');
            checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList.classList.contains('visible'))
                    checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
            }
            var checkList2 = document.getElementById('list2');
            checkList2.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList2.classList.contains('visible'))
                    checkList2.classList.remove('visible');
                else
                    checkList2.classList.add('visible');
            }

        script.
            $(document).ready(function(){
                $(".star").click(function(){
                    var id = $(this).attr("data");
                    $("#fav-"+id).css("display", "block");
                });
                $(".garbage").click(function(){
                    var id = $(this).attr("data");
                    $.ajax({
                        url: "/acordaos/delete/"+id,
                        type: "DELETE",
                        success: function(result){
                            //Reload page
                            location.reload();
                        }
                    });
                });
                $("button[name='hide']").click(function(){
                    $(this).parent().parent().parent().parent().css("display", "none");

                });
                $("button[name='add']").click(function(){
                    var id = $(this).parent().parent().find("input[name='id']").val();
                    var descricao = $(this).parent().parent().find("input[name='descricao']").val();
                    var processo = $(this).parent().parent().find("input[name='processo']").val();
                    $.ajax({
                        url: "/acordaos/favorito",
                        type: "POST",
                        data: {id: id, descricao: descricao, processo: processo},
                        success: function(result){
                            //Reload page
                            location.reload();
                        }
                    });
                });
                $("button[name='remove']").click(function(){
                    var id = $(this).parent().parent().find("input[name='id']").val();
                    $.ajax({
                        url: "/acordaos/favorito",
                        type: "DELETE",
                        data: {id: id},
                        success: function(result){
                            //Reload page
                            location.reload();
                        }
                    });
                });
                $("button[name='edit]").click(function(){
                    var id = $(this).parent().parent().find("input[name='id']").val();
                    var descricao = $(this).parent().parent().find("input[name='descricao']").val();
                    var processo = $(this).parent().parent().find("input[name='processo']").val();
                    $.ajax({
                        url: "/acordaos/favorito",
                        type: "PUT",
                        data: {id: id},
                        success: function(result){
                            //Reload page
                            location.reload();
                        }
                    });
                })
                $("#prevpage").click(function(){
                    var page = $(this).attr("data");
                    var url = window.location.href;
                    var query = url.split("?")[1];
                    if(query){
                        if(query.includes("page=")){
                            query=query.replace("page=" + page, "page=" + (parseInt(page) - 1));
                        }
                        else{
                            query+="&page=" + (parseInt(page) - 1);
                        }
                    }
                    else{
                        query="page=" + (parseInt(page) - 1);
                    }
                    window.location.href="/?"+query;
                    
                });
                $("#nextpage").click(function(){
                    var page = $(this).attr("data");
                    var url = window.location.href;
                    var query = url.split("?")[1];
                    if(query){
                        if(query.includes("page=")){
                            query=query.replace("page=" + page, "page=" + (parseInt(page) + 1));
                        }
                        else{
                            query+="&page=" + (parseInt(page) + 1);
                        }
                    }
                    else{
                        query="page=" + (parseInt(page) + 1);
                    }
                    
                    window.location.href="/?"+query;
                });
                $("#helpButton").click(function(){
                    $("#helpModal").css("display", "block");
                });
                $("#searchButton").click(function(){
                    var search = $("#searchInput").val();
                    var url = window.location.href;
                    var query = url.split("?")[1];
                    if(query){
                        if(query.includes("search=")){
                            query=query.replace("search=" + search, "search=" + search);
                        }
                        else{
                            query+="&search=" + search;
                        }
                    }
                    else{
                        query="search=" + search;
                    }

                    window.location.href="/?"+query;
                });
                $("#applyFilters").click(function(){
                    var descritores = $("input[name='descritores']:checked");
                    var tribunais = $("input[name='tribunais']:checked");
                    var url = window.location.href;
                    var query = url.split("?")[1];
                    var queryDescritores="";
                    var queryTribunais="";
                    for(var i=0; i<descritores.length; i++){
                        queryDescritores+=descritores[i].value+",";
                    }
                    for(var i=0; i<tribunais.length; i++){
                        queryTribunais+=tribunais[i].value+",";
                    }

                    //GET SEARCH FROM URL
                    var search = "";
                    if(query){
                        if(query.includes("search=")){
                            search=query.split("search=")[1].split("&")[0];
                        }
                    }

                    var newQuery="/?";

                    if(queryDescritores!=""){
                        queryDescritores=queryDescritores.substring(0, queryDescritores.length-1);
                        newQuery+="descritores=" + queryDescritores;
                    }
                    if(queryTribunais!=""){
                        queryTribunais=queryTribunais.substring(0, queryTribunais.length-1);
                        if(newQuery!="")
                            newQuery+="&tribunais=" + queryTribunais;
                        else
                            newQuery+="tribunais=" + queryTribunais;
                    }
                    if(search!=""){
                        if(newQuery!="")
                            newQuery+="&search=" + search;
                        else
                            newQuery+="search=" + search;
                    }
                    if(newQuery=="/?")
                        newQuery="/";
                    window.location.href=newQuery;
                });



            });

            /*
            function applyFilters() {
                var descritores = document.getElementsByName("descritores");
                var query = "/?";
                var queryDescritores=""
                for (var i = 0; i < descritores.length; i++) {
                    if (descritores[i].checked) {
                        queryDescritores += descritores[i].value + ",";
                    }
                }
                if(queryDescritores != "")
                    query += "descritores=" + queryDescritores.slice(0, -1);
                var queryTribunais=""
                var tribunais = document.getElementsByName("tribunais");
                for (var i = 0; i < tribunais.length; i++) {
                    if (tribunais[i].checked) {
                        queryTribunais += tribunais[i].value + ",";
                    }
                }
                if(queryTribunais != "")
                    if(queryDescritores != "")
                        query += "&tribunais=" + queryTribunais.slice(0, -1);
                    else
                        query += "tribunais=" + queryTribunais.slice(0, -1);

                
                window.location.href = query;
            }
            */