extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1 Lista de Acordãos
        //Descritores para selecionar
        .w3-container 
            each d in taxonomia
                span #{d}
                if descritores.includes(d)
                    input(type="checkbox" name="descritores" value=d checked)
                else
                    input(type="checkbox" name="descritores" value=d)

        
        //Apply button sets query descritores to selected values separated by comma and reloads page
        .w3-container
            button(type="button" onclick="applyFilters()") Apply
            script.
                function applyFilters() {
                    var descritores = document.getElementsByName("descritores");
                    var query = "";
                    for (var i = 0; i < descritores.length; i++) {
                        if (descritores[i].checked) {
                            query += descritores[i].value + ",";
                        }
                    }
                    window.location.href = "/?descritores=" + query;
                }
            button(type="button" onclick="window.location.href='/'") Clear


        //Lista de acordãos

        .w3-container
            each a in alista
                .w3-container
                    .w3-card-4
                        h2 #[a(href="/acordaos/" + a.Id)= "Processo Nº" + a.Processo]
                        h2 #{a.Data}
                        p #{a.Tribunal}
                        if a.Descritores
                            .w3-container
                                each d in a.Descritores
                                    span #{d}
                                    <br>