extends layout

block content
    .w3-card-4
        header.w3-container.w3-brown
            .header-container
                h1.header-left Lista de Acordãos #[a.w3-button.w3-round-large(href="/acordaos/registo") + ]
                h1.header-right 
                    if user
                        a.w3-button.w3-round-large(href="/logout") Logout
                    else
                        a.w3-button.w3-round-large(href="/login") Login
                        a.w3-button.w3-round-large(href="/register") Registo
        //Descritores para selecionar
        .corpo
            .filtros
                .w3-container.filtros-header
                    h2 Filtros
                .w3-container.filtros-corpo
                    .dropdown-check-list(id="list1" tabindex="100")
                        span.anchor Descritores
                        ul.items
                            each d in taxonomia
                                li
                                    span #{d}
                                    if descritores != [] && descritores.includes(d)
                                        input(type="checkbox" name="descritores" checked value=d)
                                    else
                                        input(type="checkbox" name="descritores" value=d)
                    
                    .dropdown-check-list(id="list2" tabindex="100")
                        span.anchor Tribunais
                        ul.items 
                            each t in tribunaisList
                                li
                                    span #{t}
                                    if tribunais != [] && tribunais.includes(t)
                                        input(type="checkbox" name="tribunais" checked value=t)
                                    else
                                        input(type="checkbox" name="tribunais" value=t)

                    //Apply button sets query descritores to selected values separated by comma and reloads page
                    .w3-container.botoes
                        button.w3-button.w3-green(type="button" onclick="applyFilters()") Apply
                        button.w3-button.w3-grey(type="button" onclick="window.location.href='/'") Clear

            //Lista de acordãos

            .w3-container.processos
                each a in alista
                    .w3-container
                        .w3-card-4.processo
                            .header-container.w3-brown
                                h2.header-left #[a(href="/acordaos/" + a.Id)= "Processo Nº" + a.Processo]
                                h2.header-mid #{a.Data}
                                h2.header-right #[a.w3-button(href="/acordaos/editar/" + a.Id) Editar ]
                            .conteudo-processo
                                p Tribunal: #{a.Tribunal}
                                if a.Descritores
                                    .w3-container
                                        b Descritores:
                                        br
                                        each d in a.Descritores
                                            b &#x2022; 
                                            span #{d}
                                            br
                                .favorito
                                    if user
                                        if a.Id in favoritos
                                            button(type="button" data=a.Id id="btn-"+a.Id).star.star-checked &#9733;
                                        else
                                            button(type="button" data=a.Id id="btn-"+a.Id).star &#9734;
                    
                    .w3-modal(id='fav-'+a.Id)
                        .w3-modal-content
                            .modal
                                h2 Adicionar aos favoritos?
                                if a.Id in favoritos
                                    form
                                        input(type="textarea" name="descricao" value=favoritos[a.Id])
                                        input(type="hidden" name="id" value=a.Id)
                                    .w3-container.botoes
                                        button.w3-button.w3-green.botao-modal(name="edit") Edit
                                        button.w3-button.w3-red.botao-modal(name="remove") Del
                                        button.w3-button.w3-grey.botao-modal(name="hide") Back
                                else
                                    form
                                        input(type="textarea" name="descricao" placeholder="Insira uma descrição(opcional)")
                                        input(type="hidden" name="id" value=a.Id)
                                    .w3-container.botoes
                                        button.w3-button.w3-green.botao-modal(name="add") Add
                                        button.w3-button.w3-grey.botao-modal(name="hide") Back

        // Paginação
        .w3-container.paginacao.w3-brown
            if page > 1
                a(href="/?page=" + (page - 1)) Anterior
            if page < maxPage
                a(href="/?page=" + (page + 1)) Seguinte

        //Script para reter os descritores selecionados e passar para a query string
        script.
            var checkList = document.getElementById('list1');
            checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList.classList.contains('visible'))
                    checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
            }
            var checkList2 = document.getElementById('list2');
            checkList2.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList2.classList.contains('visible'))
                    checkList2.classList.remove('visible');
                else
                    checkList2.classList.add('visible');
            }

        script.
            function applyFilters() {
                var descritores = document.getElementsByName("descritores");
                var query = "/?";
                var queryDescritores=""
                for (var i = 0; i < descritores.length; i++) {
                    if (descritores[i].checked) {
                        queryDescritores += descritores[i].value + ",";
                    }
                }
                if(queryDescritores != "")
                    query += "descritores=" + queryDescritores.slice(0, -1);
                var queryTribunais=""
                var tribunais = document.getElementsByName("tribunais");
                for (var i = 0; i < tribunais.length; i++) {
                    if (tribunais[i].checked) {
                        queryTribunais += tribunais[i].value + ",";
                    }
                }
                if(queryTribunais != "")
                    query += "&tribunais=" + queryTribunais.slice(0, -1);
                window.location.href = query;
            }

        script.
            $(document).ready(function(){
                $(".star").click(function(){
                    var id = $(this).attr("data");
                    $("#fav-"+id).css("display", "block");
                });
                $("button[name='hide']").click(function(){
                    $(this).parent().parent().parent().parent().css("display", "none");

                });
                $("button[name='add']").click(function(){
                    var id = $(this).parent().parent().find("input[name='id']").val();
                    var descricao = $(this).parent().parent().find("input[name='descricao']").val();
                    console.log(id);
                    console.log(descricao);
                    $.ajax({
                        url: "/acordaos/favorito",
                        type: "POST",
                        data: {id: id, descricao: descricao},
                        success: function(result){
                            //Reload page
                            location.reload();
                        }
                    });
                });
                $("button[name='remove']").click(function(){
                    var id = $(this).parent().parent().find("input[name='id']").val();
                    console.log(id);
                    $.ajax({
                        url: "/acordaos/favorito",
                        type: "DELETE",
                        data: {id: id},
                        success: function(result){
                            //Reload page
                            location.reload();
                        }
                    });
                });

            });