extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1 Processo: #{a.Processo}
        
    .w3-container
        ul.w3-ul.w3-card-4
            for val, key in a
              if key == "_id" || key == "Aceite"
                continue 
              else if key == "Descritores"
                li #[b #{key}]
                ul.w3-ul.w3-card-4
                    each d in val
                        li #{d}
              else
                li #[b #{key}] #{val}
    
    footer.w3-container.w3-blue
        p #[a(href="/") Voltar]