extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Processo: #{a.Processo}
        
    .w3-container
        ul.w3-ul.w3-card-4
            li #[b Processo:] #{a.Processo}
            li #[b Nº Convencional:] #{a['Nº Convencional']}
            li #[b Relator:] #{a.Relator}
            li #[b Descritores:] #{a.Descritores.join(', ')}
            li #[b Data do Acordão:] #{a['Data do Acordão']}
            li #[b Votação:] #{a.Votação}
            li #[b Tribunal Recurso:] #{a['Tribunal Recurso']}
            li #[b Texto Integral:] #{a['Texto Integral']}
            li #[b Meio Processual:] #{a['Meio Processual']}
            li #[b Decisão:] #{a.Decisão}
            li #[b Legislação Nacional:] #{a['Legislação Nacional']}
            li #[b Decisão Texto Integral:] #{a['Decisão Texto Integral']}
            li #[b url:] #[a(href="http://www.dgsi.pt/"+a.url) Link]
            li #[b Tribunal:] #{a.tribunal}
    
    footer 
        p #[a(href="/") Voltar]


